set timeout=3
set default=0

menuentry "NovaOS Developer Edition" {
    insmod all_video
     set gfxmode=auto
    set gfxpayload=keep
    multiboot2 /boot/novaos.elf
    boot
}

menuentry "NovaOS (modo texto)" {
    multiboot2 /boot/novaos.elf
    boot
}
